<% include ../../partials/header %>
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2><i class="fa fa-align-left"></i>Product  Categories <small></small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <ul id="tree1">
          <% for(var cat1 of category){ %>
          <li>
            <%= cat1.title %>
            <!-- <ul>

              <li>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addSub" onclick='PostCat("<%= cat1.id %>")' style="margin:0px 5px;">
                  Add Category
                </button>
              </li>
            </ul> -->

          </li>
          <% } %>
          <li><button type="button" class="btn btn-success" data-toggle="modal" data-target="#addmain" style="margin:0px 5px;">Add Maincategory</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addSub" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add category</h4>
      </div>
      <div class="modal-body">
        <form action="/settings/add-category" method="post">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Main Category</label>
            <div class="col-md-9 col-sm-9 col-xs-12" id="MainCat">
              <select class="form-control" name="parent">
                <option value="">Select Category</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Name</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" name="title" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="form-actions">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addmain" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Category</h4>
      </div>
      <div class="modal-body">
        <form action="/settings/add-main-category" method="post">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Name</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" name="title" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="form-actions">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<% include ../../partials/footer %>
